.venv
dist
*.egg-info
*.pyc
__pycache__/
.pytest_cache/
.ruff_cache/
.hypothesis/
build
.coverage
coverage.lcov
.tox
docs/_build
*.backup
.python-version
.DS_Store
local
overleaf
examples/expected/generated/
