include CHANGELOG.md
include .coveragerc
include LICENSE.txt
include Makefile
include pyproject.toml
include README.md
include requirements.txt
include requirements.docs.txt
include tox.ini
graft docs
recursive-include examples *.md *.py *.txt
recursive-include tests *.json *.py *.tex *.txt
prune docs/_build
prune examples/expected/generated
global-exclude __pycache__
global-exclude *.py[co]
